* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #143d56;
}

.buttonLogin {
  padding: 30px;
  background: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 340px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
